.tasks-list {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

@media (max-width: 600px) {
  .tasks-list {
    width: 95%;
  }
}
